<html lang="en" layout:decorator="backend/layouts/default_layout">
<head>
    <title>Dashboard</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="card-header my-3"><h3>Report</h3></div>

            <div class="row">
                <div class="col-md-6">
                    <canvas id="lineChart" width="100" height="70"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas id="pieChart" width="100" height="70"></canvas>
                </div>
            </div>

            <div class="card-header my-3"><h3>Recent Product</h3></div>
            <!-- Table Data-->
            <table class="table table-bordered" id="tbproduct">
                <thead>
                    <tr class="bg-info text-light">
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Status</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>

        <!--Popup สำหรับเพิ่มและแก้ไข-->
        <!-- Modal -->
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        Body
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
</html>