<html lang="en" layout:decorator="backend/layouts/default_layout">
<head>
    <title>Student</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">

            <div class="row card-header my-3">
                <div class="col-md-6">
                    <h3>Student List</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/backend/newstudent" class="btn btn-lg btn-success">Add Student</a>
                </div>
            </div>
            

            <table class="table table-bordered">
                <thead>
                    <tr class="bg-info text-light">
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="student: ${list}">
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.firstName}"></td>
                        <td th:text="${student.lastName}"></td>
                        <td th:text="${student.email}"></td>
                        <td style="width: 160px;">
                            <a th:href="@{'/backend/editstudent/'+${student.id}}" class="btn btn-warning">Edit</a>
                            <a th:href="@{'/backend/deletestudent/'+${student.id}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>