<div th:fragment="sidebar">
    <div class="card-header">
        <h3>Menu</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="/backend/dashboard">Dashboard</a></li>
        <li class="list-group-item"><a href="/backend/student">Student</a></li>
        <li class="list-group-item"><a href="#">Product</a></li>
        <li class="list-group-item"><a href="#">Order</a></li>
        <li class="list-group-item"><a href="#">Report</a></li>
        <li class="list-group-item"><a href="#">Setting</a></li>
    </ul>
</div>